<mat-toolbar color="primary">
  <span>Web Agricola</span>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  <span>Right Aligned Text</span>
</mat-toolbar>
<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    Menu Side
    <ul class="menu-items">
      <li>Gola</li>
      <li>Mundo</li>
    </ul>
  </mat-drawer>
  <mat-drawer-content>
    # Main content
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>

