.example-container {
  margin: 3px;
  min-height: 500px;
}

.menu-items {
  margin: 2px;
}

.main-container {
  margin: 5px;
}

.icon-item {
  font-size: large;
  margin: 0;
}

.menu-item {
  margin: 0;
}